body {
    background-color: #cccccc;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px;
    width: 70%;
    height: auto;
    align-items: center;
    margin: 0 auto;
}

.flex-item {
    position: relative;
    margin: 10px;
    text-align: center;
    flex: 1 1 200px;
    max-width: auto;
}

.flex-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 18px;
    object-fit: cover;
}

.flex-item h3 {
    color: #333333;
    margin-bottom: 12px;
}

.description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 0 0 18px 18px;
}

.flex-item:hover .description {
    opacity: 1;
}

.header {
    color: #333333;
    text-align: center;
    padding: 10px;
}

.footer {
    background-color: #696969;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
    background-color: #696969;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
}

button:hover {
    background-color: #ffffff;
    color: #696969;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: normal;
}

#addNewProject {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    background-color: #cccccc;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
}

#addNewProject input[type="text"] {
    width: 100%;
    max-width: 400px;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#addNewProject textarea {
    width: 100%;
    max-width: 400px;
    height: 150px;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    resize: vertical;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}